[workspace]
resolver = "3"
members = ["plugins/input-classic/clients/rust", "plugins/input-spinners/clients/rust", "sdk/frontend/rust", "firmware/input-spinners-controller"]

[profile.release]
debug = 2
lto = true
opt-level = "s"

[profile.dev]
debug = 2
lto = true
opt-level = 1
